

body {
	background-color: beige;
	margin: 0px;
	padding: 0px;
}

.header__top {
	color: green;
}

#navbar {
	background-color: grey;
}

#center_navbar {
	height: 100px;
	margin: auto;
	width: 1500px;
}

#left_navbar {
	font-size: 40px;
	color: white;
	float: left;
	line-height: 100px;
	text-align: left;
}

#menu {
	float: right;
	text-align: center;
	height: 30px;
	margin: 42px 0 0 ;
	width: 530px;
}

#home_img {
	background-size: cover;
}

img {
	max-width: 100%;
	max-height: 99%;
}