

.profile_navbar_btn {
	width: 5%;
	height: 75px;
	line-height: 75px;
	font-size: 45px;
	border-radius: 100px;
	text-align: center;
	display: inline-block;
	margin-left: 16%;
}

.profile_navbar_btn:hover {
	opacity: .7;
}

.profile_navbar_btn a {
	color: white;
	text-decoration: none;
}

.facebook {
	background-color: #3B5999;
}

.github {
	background-color: #81007F;
}

.linkedin {
	background-color: #0183BF;
}

.youtube {
	background-color: #CB3737;
}
